@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
  @apply min-h-screen flex items-center justify-center text-white text-center px-4;
  background: radial-gradient(ellipse 40% 500% at 30% center, #f5f6fa -100%, #34495e 100%);
  position: relative;
}

.hero-content {
  @apply w-full max-w-screen-xl px-4 relative z-10;
}

.hero-overlay {
  @apply absolute inset-0 bg-black bg-opacity-60 backdrop-blur-none;
}

.hero-body {
  @apply flex justify-center items-center gap-10 flex-wrap w-full;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  min-height: 70vh;
}


.hero-logo img {
  @apply max-w-[300px] h-auto m-0 p-0 block;
}

.hero-text {
  @apply flex flex-col justify-center text-left space-y-2
          text-3xl md:text-4xl font-semibold leading-snug 
          w-[320px] md:w-[650px] min-w-[300px] md:min-w-[400px];
}


.hero-logo img {
  @apply w-[250px] h-[250px] object-contain;
}
/* RESPONSIVE BEHAVIOR */
@media (max-width: 768px) {
  .hero-body {
    @apply flex-col text-center;
  }

  .hero-text {
    @apply items-center text-center;
  }
}

.mouse {
  width: 35px;
  height: 55px;
  border: 2px solid #ecf0f1;
  border-radius: 25px;
  position: absolute;
  bottom: -50px; 
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  animation: popUp 0.6s ease-out forwards;
  z-index: 20;
}

.scroll-wheel {
  width: 6px;
  height: 10px;
  background-color: #e67e22;
  border-radius: 3px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  animation: scrollAnim 1.5s infinite;
}

@keyframes scrollAnim {
  0% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
  50% {
    opacity: 0.5;
    transform: translateX(-50%) translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}

.blinking-cursor {
  display: inline-block;
  color: #2ecc71;
  font-weight: bold;
  animation: blink 1s steps(1) infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fadeInUp 1.2s ease-out forwards;
}

@keyframes popUp {
  0% {
    opacity: 0;
    transform: scale(0.8) translateY(10px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.animate-pop-up {
  animation: popUp 0.5s ease-out forwards;
}
