#home {
  position: relative;
  background: url("../../assets/meteors.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  min-height: 100vh;

  .app__wrapper {
    padding: 0;
    .copyright {
      display: none;
    }
  }
}

.app__header {
  width: 100%;
  min-height: 100vh;
  padding: 6rem 2rem 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .app__header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
    height: 100%;
    flex: 1;

    @media screen and (max-width: 900px) {
      flex-direction: column;
      text-align: center;
    }
  }

  .app__header-info {
    flex: 1;
    color: white;

    .badge {
      background-color: rgba(255, 255, 255, 0.1);
      padding: 0.5rem 1rem;
      border-radius: 20px;
      margin-bottom: 1rem;
      display: inline-block;
      margin-right: 1rem;

      &:hover {
        background: #0f0f0f;
        box-shadow: 0px 0px 20px rgba(var(--purple-color), 0.5);
      }
    }

    .app__header-title {
      font-size: 3rem;
      margin: 1rem 0;
      font-weight: 900;
      text-shadow: 0px 0px 5px #000 solid;
    }

    .app__header-desc {
      font-size: 1rem;
      line-height: 1.5;
      max-width: 400px;
      margin-bottom: 2rem;
      font-weight: 400;
    }

    .app__header-button {
      padding: 0.75rem 2rem;
      border: 5px solid #0f0f0f;
      background: transparent;
      background-color: rgba(255, 255, 255);
      color: #0f0f0f;
      border-radius: 50px;
      cursor: pointer;
      transition: background 0.3s;
      font-weight: 600;
      font-size: 1rem;

      &:hover {
        background: #0f0f0f;
        color: rgba(var(--purple-color), 1.0);
        border-color: rgba(var(--purple-color), 1.0);
        box-shadow: 0px 0px 20px rgba(var(--purple-color), 0.5);
      }
    }
  }

  .app__header-img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: 110%;
    box-shadow: -5px -5px 10px rgba(246, 229, 141, 0.5), 3px 3px 10px rgba(232, 67, 147, 0.2);
    border-radius: 50%;
    animation: bounce 4s infinite;

    img {
      object-fit: cover;
      object-position: 0 90%;
      width: 100%;
      aspect-ratio: 1 / 1;
      max-width: 400px;
      border-radius: 50%;
      image-rendering: auto;
      will-change: transform;
      // border: 5px dashed var(--secondary-color); // thickness
    }
  }

  .app__header-down {
    display: flex;
    flex-direction: column;
    align-items: center;

    .mouse {
      width: 35px;
      height: 55px;
      border: 3px solid #FFF;
      border-radius: 20px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: start;
      padding-top: 5px;
      animation: mouse-bounce 2s infinite;

      .scroll-wheel {
        width: 6px;
        height: 10px;
        background-color: var(--secondary-color);
        border-radius: 3px;
        animation: scroll 2s infinite;
      }
    }

    .scroll-text {
      margin-top: 20px;
      color: #fff;
      font-size: 0.9rem;
      opacity: 0.7;
    }

    @keyframes mouse-bounce {
      0%, 100% {
        transform: translateY(0px);
        opacity: 0.2;
      }
      50% {
        transform: translateY(8px);
        opacity: 1;
      }
    }

    @keyframes scroll {
      0% {
        transform: translateY(0);
        opacity: 0.5;
      }
      50% {
        transform: translateY(10px);
        opacity: 1;
      }
      100% {
        transform: translateY(0);
        opacity: 0.5;
      }
    }
  }
}
